body{
    margin: 0px;
    padding: 0px;
    color: #ffffff;
    
}
.gen-div{
    display: grid;
    grid-template-columns: 6fr 3fr;
    background-image: url(/img/pexels-worldspectrum-844124.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.info-gendiv{
    border: 1px solid red;
    position: absolute;
    bottom: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.info-div{
    display: grid;
    justify-content: center;
    align-items: center;
}
.leftside-div{
    border: 1px solid blue;
    height: 100vh;
    position: relative;
}
.rightsidebar{
    border: 1px solid red;
    height: 100vh;
    position: relative;
    background-color: rgba(225, 225, 225, 0.1);
}
#userLocation{
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    padding: 8px;
    width: 70%;
    outline: none;
    color: #ffffff;
}
#userLocation::placeholder{
    color: #ffffff;
}
hr{
    color: #ffffff;
}